* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: left;
  margin-top: 30px;
}
.card {
  width: 30%;;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  position: relative;
}

hr {
  color: silver;
  width: 100%;
}

.bar {
  display: flex;
  justify-content: space-between;
}
.card span {
  font-weight: bolder;
  text-decoration: underline;
}
.bar button {
  margin: 0 10px;
  padding: 5px 10px;
}
.name {
  font-style: italic;
}
.discount {
  text-align: right;
  font-size: 14px;
  width: 100%;
}
.recommended {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  color: white;
  font-size: 0.5em;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.discount {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header, main, footer {
  flex-shrink: 0;
}
header {
  padding-bottom: 20px;
}
footer {
  padding-top: 20px;
}
.sorry {
  font-size: 3em;
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}